<link rel="stylesheet" href="../styles.css">

<div class="slideshow-container">

<div class="mySlides fade">
  <div class="numbertext">1 / 7</div>
  <img src="../_Images/steptodown.com898711.jpg" style="width:100%">
  <div class="text">Caption Text</div>
</div>

<div class="mySlides fade">
  <div class="numbertext">2 / 7</div>
  <img src="../_Images/steptodown.com633227.jpg" style="width:100%">
  <div class="text">Caption Two</div>
</div>

<div class="mySlides fade">
  <div class="numbertext">3 / 7</div>
  <img src="../_Images/steptodown.com525012.jpg" style="width:100%">
  <div class="text">Caption Three</div>
</div>

<div class="mySlides fade">
  <div class="numbertext">4 / 7</div>
  <img src="../_Images/steptodown.com469316.jpg" style="width:100%">
  <div class="text">Caption Four</div>
</div>

<div class="mySlides fade">
  <div class="numbertext">5 / 7</div>
  <img src="../_Images/steptodown.com443846.jpg" style="width:100%">
  <div class="text">Caption Five</div>
</div>

<div class="mySlides fade">
  <div class="numbertext">6 / 7</div>
  <img src="../_Images/steptodown.com133499.jpg" style="width:100%">
  <div class="text">Caption Six</div>
</div>

<div class="mySlides fade">
  <div class="numbertext">7 / 7</div>
  <img src="../_Images/group-of-young-people-talking.jpg" style="width:100%">
  <div class="text">Caption Seven</div>
</div>

</div>
<br>

<div style="text-align:center">
  <span class="dot"></span> 
  <span class="dot"></span> 
  <span class="dot"></span> 
</div>

<script src="../scripts/slider.js"></script>